Application Information: 1 : The world was created with x and y values
Application Information: 1 : Steve has his good guy weapons
Application Information: 1 : Herobrine has his villain weapons
Application Information: 1 : Oh no! Herobrine has died
Application Information: 1 : Congratulations! Steve won!
Application Information: 1 : Steve has 60 hitponts left
Application Information: 1 : Herobrine has -35 hitponts left
